<footer>
	<aside class="copyright">
		<p><em>© Indigo Down</em></p>
	</aside>
	<aside class="social">
		<ul class="socialIcons">
		{# ['email', 'twitter', 'instagram', 'facebook', 'apple music', 'spotify', 'youtube'] #}
			<li><a title="email" href="mailto:band@indigodown.com?subject=Executive+Greetings">{{ socialIcons.email | safe }}</a></li>
			<li><a title="twitter" href="https://twitter.com/indigodown">{{ socialIcons.twitter | safe }}</a></li>
			<li><a title="instagram" href="https://instagram.com/indigodownband">{{ socialIcons.instagram | safe }}</a></li>
			<li><a title="facebook" href="https://www.facebook.com/indigodown/">{{ socialIcons.facebook | safe }}</a></li>
			<li><a title="apple music" href="https://music.apple.com/gb/artist/indigo-down/97194218">{{ socialIcons.itunes | safe }}</a></li>
			<li><a title="spotify" href="https://open.spotify.com/artist/21rwqrV2tPxCMJmuFkH4Ya">{{ socialIcons.spotify | safe }}</a></li>
			<li><a title="youtube" href="https://www.youtube.com/channel/UCky98hNZ8pyElDmgtP6F9pA">{{ socialIcons.youtube | safe }}</a></li>
		</ul>
	</aside>
	<aside class="credit">
		<p><em>Photo: <a href="https://www.katebookerphotography.com" target="_blank">k b photography</a></em></p>
	</aside>
</footer>
