<div class="main band">
  <h1>{{title}}</h1>
  <div class="copy cf">
    <div class="entry">
      <h2>Hi. We’re Indigo Down.</h2>

      <p>We’re also on those <a href="http://www.facebook.com/indigodown">Facebooks</a>, <a href="http://www.twitter.com/indigodown">Twitters</a> and <a href="http://www.soundcloud.com/indigodown">Soundclouds</a>.</p>

      <p>If you feel the burning desire to email us, <a href="mailto:band@indigodown.com">band@indigodown.com</a> is your best bet for a fuller flavour.</p>
    </div>

    <div class="divider bottomspace topspace"></div>

    <div class="member">
      <div class="inner">
        <h2>Jez Fielder</h2>
        <h3>Vocals, Guitar, <span class="info" title="Favourite gin">Hendrick’s</span></h3>
        <img src="/images/band/jez.jpg" alt="Jez Fielder">
        <p><strong>Likes:</strong> Italy, geopolitics, kissing</p>
        <p><strong>Dislikes:</strong> Cucumber, unnecessary hats, cruelty to animals</p>
        <p><strong>Influences:</strong> Queen, Guns N’ Roses, It Bites</p>
        <p><strong>Twitter:</strong> <a href="https://twitter.com/jezmerelda">Jezmerelda</a></p>
      </div>
    </div>

    <div class="member">
      <div class="inner">
        <h2>Clive Murray</h2>
        <h3>Guitar, Vocals, <span class="info" title="Favourite gin">Blackwood’s</span></h3>
        <img src="/images/band/clive.jpg" alt="Clive Murray">
        <p><strong>Likes:</strong> Cheese, Stephen Fry, the Greek island of Rhodes</p>
        <p><strong>Dislikes:</strong> Misplaced apostrophes, The Beatles, not having any cheese</p>
        <p><strong>Influences:</strong> Brian May, Joe Satriani, Slash</p>
        <p><strong>Twitter:</strong> <a href="https://twitter.com/axemonkey">Axemonkey</a></p>
      </div>
    </div>

    <div class="member">
      <div class="inner">
        <h2>Martin Szomszor</h2>
        <h3>Bass, Vocals, <span class="info" title="Favourite gin">Tanqueray</span></h3>
        <img src="/images/band/martin.jpg" alt="Martin Szomszor">
        <p><strong>Likes:</strong> Science, bacon, Professor Brian Cox</p>
        <p><strong>Dislikes:</strong> Talent shows, alternative medicine, The Daily Mail</p>
        <p><strong>Influences:</strong> John Deacon, John Myung, Jaco Pastorius</p>
        <p><strong>Twitter:</strong> <a href="https://twitter.com/martinszomszor">Martinszomzor</a></p>
      </div>
    </div>

    <div class="member">
      <div class="inner">
        <h2>Paul Fielder</h2>
        <h3>Drums, Vocals, <span class="info" title="Favourite gin">Bramley and Gage</span></h3>
        <img src="/images/band/paul.jpg" alt="Paul Fielder">
        <p><strong>Likes:</strong> Sandwiches, gin, dogs</p>
        <p><strong>Dislikes:</strong> Peter Hitchens, mackerel, dentists</p>
        <p><strong>Influences:</strong> Mike Bordin, Rob Affuso, Mike Portnoy</p>
        <p><strong>Twitter:</strong> <a href="https://twitter.com/big_gerrald">Big_Gerrald</a></p>
      </div>
    </div>

  </div>
</div>
