<div class="main video">
  <h1>{{title}}</h1>
  <div class="copy cf">
    <div class="entry">

      <h2>The Underworld, March 2013</h2>
      <p>We had a damned fine time supporting the splendidly splendid <a href="http://www.sleazeroxx.com/bands/lovehate/lovehate.shtml">Love/Hate</a>. Some lovely pics too.</p>
      <div class="gallery">
        <div id="gallery1">
          <a data-fslightbox href="/images/gallery/underworld-201303/large/1.jpg">
            <img src="/images/gallery/underworld-201303/small/1.jpg" width="140" height="140" alt="">
          </a>
          <a data-fslightbox href="/images/gallery/underworld-201303/large/2.jpg">
            <img src="/images/gallery/underworld-201303/small/2.jpg" width="140" height="140" alt="">
          </a>
          <a data-fslightbox href="/images/gallery/underworld-201303/large/3.jpg">
            <img src="/images/gallery/underworld-201303/small/3.jpg" width="140" height="140" alt="">
          </a>
          <a data-fslightbox href="/images/gallery/underworld-201303/large/4.jpg">
            <img src="/images/gallery/underworld-201303/small/4.jpg" width="140" height="140" alt="">
          </a>
          <a data-fslightbox href="/images/gallery/underworld-201303/large/5.jpg">
            <img src="/images/gallery/underworld-201303/small/5.jpg" width="140" height="140" alt="">
          </a>
          <a data-fslightbox href="/images/gallery/underworld-201303/large/6.jpg">
            <img src="/images/gallery/underworld-201303/small/6.jpg" width="140" height="140" alt="">
          </a>
          <a data-fslightbox href="/images/gallery/underworld-201303/large/7.jpg">
            <img src="/images/gallery/underworld-201303/small/7.jpg" width="140" height="140" alt="">
          </a>
          <a data-fslightbox href="/images/gallery/underworld-201303/large/8.jpg">
            <img src="/images/gallery/underworld-201303/small/8.jpg" width="140" height="140" alt="">
          </a>
          <a data-fslightbox href="/images/gallery/underworld-201303/large/9.jpg">
            <img src="/images/gallery/underworld-201303/small/9.jpg" width="140" height="140" alt="">
          </a>
          <a data-fslightbox href="/images/gallery/underworld-201303/large/10.jpg">
            <img src="/images/gallery/underworld-201303/small/10.jpg" width="140" height="140" alt="">
          </a>
        </div>

        <div class="clearfix"></div>
      </div>
      <p>&copy; 2013 Indigo Down and Zac Hussein.</p>
      <div class="divider"></div>

      <h2>The Purple Turtle, January 2011</h2>
      <p>This was the first gig with the current line-up, and our good friend Ben was on hand with the photoshooticator.</p>
      <div class="gallery">
        <div id="gallery2">
          <a data-fslightbox href="/images/gallery/pt-201101/large/pt1.jpg">
            <img src="/images/gallery/pt-201101/small/pt1.jpg" width="140" height="140" alt="">
          </a>
          <a data-fslightbox href="/images/gallery/pt-201101/large/pt2.jpg">
            <img src="/images/gallery/pt-201101/small/pt2.jpg" width="140" height="140" alt="">
          </a>
          <a data-fslightbox href="/images/gallery/pt-201101/large/pt3.jpg">
            <img src="/images/gallery/pt-201101/small/pt3.jpg" width="140" height="140" alt="">
          </a>
          <a data-fslightbox href="/images/gallery/pt-201101/large/pt4.jpg">
            <img src="/images/gallery/pt-201101/small/pt4.jpg" width="140" height="140" alt="">
          </a>
        </div>
        <div class="clearfix"></div>
      </div>
      <p>&copy; 2011 Indigo Down and Ben Warwick.</p>
      <div class="divider"></div>

      <h2>Photo shoot, October 2010</h2>
      <p>With thanks to Ben Warwick and Lotee Butcher.</p>
      <div class="gallery">
        <div id="gallery3">
          <a data-fslightbox href="/images/gallery/shoot-201010/large/1.jpg">
            <img src="/images/gallery/shoot-201010/small/1.jpg" width="140" height="140" alt="">
          </a>
          <a data-fslightbox href="/images/gallery/shoot-201010/large/2.jpg">
            <img src="/images/gallery/shoot-201010/small/2.jpg" width="140" height="140" alt="">
          </a>
          <a data-fslightbox href="/images/gallery/shoot-201010/large/3.jpg">
            <img src="/images/gallery/shoot-201010/small/3.jpg" width="140" height="140" alt="">
          </a>
          <a data-fslightbox href="/images/gallery/shoot-201010/large/4.jpg">
            <img src="/images/gallery/shoot-201010/small/4.jpg" width="140" height="140" alt="">
          </a>
          <a data-fslightbox href="/images/gallery/shoot-201010/large/5.jpg">
            <img src="/images/gallery/shoot-201010/small/5.jpg" width="140" height="140" alt="">
          </a>
          <a data-fslightbox href="/images/gallery/shoot-201010/large/6.jpg">
            <img src="/images/gallery/shoot-201010/small/6.jpg" width="140" height="140" alt="">
          </a>
        </div>
        <div class="clearfix"></div>
      </div>
      <p>&copy; 2010 Indigo Down and Ben Warwick.</p>

    </div>
  </div>
</div>
