<div class="main gigs">
  <h1>{{title}}</h1>
  <div class="copy cf">
    <div class="entry">
      <h2>None booked at the moment...</h2>
    </div>
  </div>
</div>
{{!--
      // .entry
      //   h2 Sunday November 8th 2015, The Underworld, Camden. Supporting LOVE/HATE
      //   ul.gig-details
      //     li
      //       span Doors:
      //       strong 7pm
      //     li
      //       span On-stage:
      //       strong 7.30pm-ish probably
      //     li
      //       span Tickets:
      //       strong &pound;15 - see below!
      //     li
      //       span Also on the bill:
      //       strong
      //         a(href='http://www.thekinglot.com/') King Lot
      //     li
      //       span Location:
      //       strong
      //         a(href='http://goo.gl/maps/HgR9X') Google map
      //     li
      //       span Venue website:
      //       strong
      //         a(href='http://www.theunderworldcamden.co.uk') theunderworldcamden.co.uk

      //   p
      //     strong
      //       a(href='https://www.facebook.com/JizzyPearlsLoveHate') LOVE/HATE
      //     |  should need no introduction. Proper glam royalty for 25 years, and we're chuffed to be supporting them.

      //   p Re tickets - ideally, we'd like you to get one from a member of the band. We've got a book of 50 and we need to sell them so the venue realises just how great we are. So locate your nearest Jez, Clive, Martin or Paul and tap them up for one today! We will also be available on the night in the World's End pub next to the venue for ticket purchasing.
 --}}
