<main>
	<h1>{{quote}}</h1>

	<div class="home-fader">
		<div class="image" data-startimage="1">
			<img class="show bottom" src="/images/fader/1.jpg" alt="Executive Rockers, Indigo Down. At your service.">
		</div>
		<div class="frame"></div>
	</div>
</main>
