<div class="main music">
  <h1>{{title}}</h1>
  <div class="copy cf">
    <div class="entry">
      <h2>STILL ALIVE – OUT NOW (June 2021)</h2>
      <p>Back in The BeforeTimes, we went into the studio and recorded five songs for an EP release. Then there was an interlude, best probably described as a hiatus, but now the time has come for this splendid recording to finally see the light of your ears.</p>
      <p>Huge thanks to His Holiness John Mitchell and all at <a href="https://outhousestudios.co.uk/">Outhouse Studios</a> for love, tea, wine, pain, joy and suffering, all in equal measure.</p>
      <p>Buy it, stream it, hear it, get it, have it via:</p>
      <ul>
      	<li><a href="https://music.apple.com/gb/album/still-alive-ep/1568980184">Apple/iTunes</a></li>
      	<li><a href="https://open.spotify.com/album/57jkwiOApbiWPfWnuZAGrk">Spotify</a></li>
      	<li><a href="https://indigodown.bandcamp.com/album/still-alive">Bandcamp</a></li>
      	<li><a href="https://www.amazon.co.uk/Still-Alive-Indigo-Down/dp/B095MQYLVQ/">Amazon MP3</a></li>
      	<li><a href="https://deezer.page.link/46eSK1NxiH1MCCiZ7">Deezer</a></li>
      	<li><a href="https://uk.7digital.com/artist/indigo-down/release/still-alive-16220795">7digital</a></li>
      	<li><a href="https://music.youtube.com/playlist?list=OLAK5uy_kK6PfI1zADj_2IPtb86Ht5szA4gRX65Lc">YouTube Music</a></li>
      </ul>

      <div class="divider"></div>

      <h2>Gin Lane, 2005</h2>

      <p>The album recorded by the previous line-up is still good and usually available, from the <a href="http://itunes.apple.com/gb/album/gin-lane/id97194522">Apples</a> and the <a href="http://www.amazon.co.uk/Gin-Lane-Explicit/dp/B002F0PADU/">Amazons</a>.</p>
    </div>
  </div>
</div>
