<div class="main news">
	<h1>{{title}}</h1>
	<div class="copy cf">
		<div class="entry">
			<p><strong>04/06/2021</strong>: EP RELEASE DAY</p>
			<p>It is finally here, the EP is <strong>out now</strong>!</p>

			<p>Check out <strong>“Still Alive”</strong> via:</p>
			<ul>
				<li><a href="https://music.apple.com/gb/album/still-alive-ep/1568980184">Apple/iTunes</a></li>
				<li><a href="https://open.spotify.com/album/57jkwiOApbiWPfWnuZAGrk">Spotify</a></li>
				<li><a href="https://indigodown.bandcamp.com/album/still-alive">Bandcamp</a></li>
				<li><a href="https://www.amazon.co.uk/Still-Alive-Indigo-Down/dp/B095MQYLVQ/">Amazon MP3</a></li>
				<li><a href="https://deezer.page.link/46eSK1NxiH1MCCiZ7">Deezer</a></li>
				<li><a href="https://uk.7digital.com/artist/indigo-down/release/still-alive-16220795">7digital</a></li>
				<li><a href="https://music.youtube.com/playlist?list=OLAK5uy_kK6PfI1zADj_2IPtb86Ht5szA4gRX65Lc">YouTube Music</a></li>
			</ul>
		</div>
	</div>
</div>
