body.home,
body.gigs,
body.music,
body.video,
body.band {
	background-image: url("/images/2021/front-page-photo-tall-hi.jpg");

	@media only screen and (resolution >= 192dpi),
		only screen and (resolution >= 2dppx) {
		background-image: url("/images/2021/front-page-photo-tall-hi-2x.jpg");
	}

	background-position: center top;
	background-size: cover;
	background-attachment: fixed;

	@media (width >= 400px) {
		background-position: 45% 35%;
	}

	@media (width >= 1000px) {
		background-image: url("/images/2021/home-band-wine.jpg");
		background-position: center 10%;

		@media only screen and (resolution >= 192dpi),
			only screen and (resolution >= 2dppx) {
			background-image: url("/images/2021/home-band-wine-2x.jpg");
		}
	}
}
