.music-cover {
	display: block;
	margin: 0 auto 20px;
	width: 300px;
	text-align: center;
	box-shadow: 3px 3px 3px rgba(255 255 255 / 50%);
	border-radius: 4px;
}

.yt-iframe {
	width: 100%;
	height: 400px;
	margin: 0 auto 20px;
	border-radius: 4px;
}
