<main>
  {{> 2021/nav}}

  <section class="copy-panel">
    <h2>The Band</h2>

    <div class="band-member">
      <div class="band-member-copy">
        <h3>Jez Fielder – Vocals &amp; Guitar</h3>
        <p>Jez discovered guitar at an early age, which was really handy because there weren’t any guitars before that. You can’t prove there were, can you? He also hovers three inches off the ground when playing in the key of D minor.</p>
        <p>Twitter: <a href="https://twitter.com/Jezmerelda" target="_blank">Jezmerelda</a></p>
      </div>
      <figure class="band-member-figure">
        <img src="/images/2021/band/member-jez4.jpg" alt="Photo of Jez Fielder">
        {{!-- <figcaption>“Ooh. I’ve got a great idea for a song... no, a dessert.”</figcaption> --}}
      </figure>
    </div>

    <div class="band-member">
      <div class="band-member-copy">
        <h3>Clive Murray – Guitar &amp; Vocals</h3>
        <p>Clive is not as old as you think, but quite a bit older than he thinks. He once lost a bet with a badger, as a result of which he now has to spend every Sunday evening digging holes in Powys.</p>
        <p>Twitter: <a href="https://twitter.com/Axemonkey" target="_blank">Axemonkey</a></p>
      </div>
      <figure class="band-member-figure">
        <img src="/images/2021/band/member-clive5.jpg" alt="Photo of Clive Murray">
        {{!-- <figcaption>“I really miss my right arm.”</figcaption> --}}
      </figure>
    </div>

    <div class="band-member">
      <div class="band-member-copy">
        <h3>Martin Szomszor – Bass &amp; Vocals</h3>
        <p>When not playing with the band, Martin relaxes by climbing mountains upside-down, and spends the rest of his spare time in his shed working on something called “The Disposable Face Project”, on which he refuses to elaborate further.</p>
        <p>Twitter: <a href="https://twitter.com/MartinSzomszor" target="_blank">MartinSzomszor</a></p>
      </div>
      <figure class="band-member-figure">
        <img src="/images/2021/band/member-martin4.jpg" alt="Photo of Martin Szomszor">
        {{!-- <figcaption>“I could kill you with a single thought. All of you.”</figcaption> --}}
      </figure>
    </div>

    <div class="band-member">
      <div class="band-member-copy">
        <h3>Paul Fielder – Drums &amp; Vocals</h3>
        <p>Paul was found on the moon by Neil Armstrong and smuggled back to earth in secret. He can speak nine languages fluently, but understands none of them.</p>
        <p>Twitter: <a href="https://twitter.com/Big_Gerrald" target="_blank">Big_Gerrald</a></p>
      </div>
      <figure class="band-member-figure">
        <img src="/images/2021/band/member-paul5.jpg" alt="Photo of Paul Fielder">
        {{!-- <figcaption>“Aaaahahaha... monkeys! Haaahahaha.”</figcaption> --}}
      </figure>
    </div>

    <p>Photos: <a href="https://www.katebookerphotography.com/" target="_blank">k b photography</a>.</p>

  </section>

  {{> 2021/footer}}
</main>
