<main>
  {{> 2021/nav}}

  <section class="copy-panel">
    <h2>Hi. We’re Indigo Down.</h2>
    <p>We’re an Executive Rock Band operating out of London, UK, and we would love to get in your ears.</p>
    <p>We’re extremely excited to tell you that we released our EP <a href="/release"><strong>“STILL ALIVE”</strong></a> in mid-2021, and even <em>more</em> excited to invite you to <a href="/release">have yourself a lovely little listen to it</a>.</p>
    <p>Someone will take your order shortly. In the meantime, please make yourself comfortable, and peruse our <a href="/music">music</a> or perhaps even a short <a href="/video">video</a>.</p>
    <p>Should you wish to make contact, please direct messages to <a href="mailto:band@indigodown?subject=Executive+Greetings" target="_blank">band@indigodown</a> or <a href="https://twitter.com/indigodown" target="_blank">@indigodown</a>.</p>
    <p>Thank you for visiting, and welcome to the luxurious world of Executive Rock.</p>
    <p>You’re looking fabulous, by the way. x</p>
  </section>

  {{> 2021/footer}}
</main>
