<main>
  {{> 2021/nav}}

  <section class="copy-panel">
    <h2>The Music</h2>
    <h3>&ldquo;STILL ALIVE&rdquo; – 2021</h3>
    <a href="/release"><img class="music-cover" src="/images/release/cover.jpg" alt="Cover of STILL ALIVE by Indigo Down"></a>
    <p>Did we mention we’ve released our EP? Well, we have, and we’re jolly happy with it.</p>
    <p>It’s called <strong>&ldquo;Still Alive&rdquo;</strong>, and we recorded it at the splendid <a href="https://outhousestudios.co.uk/">Outhouse Studios</a> in Reading, under the watchful eye of <a href="https://johnmitchellhq.com/">His Holiness John Mitchell</a>. We offer our very largest thanks to everyone at Outhouse for making this recording sound so very rockular.</p>
    <p>It’s available everywhere, so why not <a href="/release">get it now</a>? You’ll like it, we promise.</p>

    <hr>

    <h3>&ldquo;GIN LANE&rdquo; – 2005</h3>
    <img class="music-cover" src="/images/2021/gin-lane-cover.jpg" alt="Cover of GIN LANE by Indigo Down">
    <p>The debut album from the previous line-up—<strong>&ldquo;Gin Lane&rdquo;</strong>—is still good and still available on <a href="https://music.apple.com/gb/album/gin-lane/97194522" target="_blank">Apple</a> and <a href="https://www.amazon.co.uk/Gin-Lane-Explicit/dp/B002F0PADU/" target="_blank">Amazon</a>. Likely elsewhere too, we shouldn’t wonder.</p>
  </section>

  {{> 2021/footer}}
</main>
