---
layout: main.njk
thisPage: gigs
pageTitle: "Indigo Down :: Gigs"
---
{% include "nav.njk" %}

<section class="copy-panel">
	<h2>Gigs</h2>
	<h3>Hoodstock – July 2nd 2022, Hastings</h3>
	<p>Before bringing the wonder of Executive Rock to London, Indigo Down arose from the rock music scene in Hastings in the late 90s/early 00s. It is with great joy and a little tumescence that we will be returning to our birthplace to play a reunion festival featuring many of the bands from that area and era.</p>
	<p>Please note that this is a private event, and attendance is by invitation only. But please do visit <a href="https://hoodstock.rocks/">the Hoodstock festival site</a> or <a href="https://www.eventbrite.co.uk/e/hoodstock-reunion-festival-tickets-308863287407">the Eventbrite page</a> to find out how you may obtain an invite!</p>
	<p>We’d love to see you!</p>

</section>
