<!DOCTYPE html>
<html lang="en" class="{{ thisPage }}">
	<head>
		<title>{{ pageTitle }}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="description" content="The luxurious online home of executive rockers Indigo Down">
		<meta name="keywords" content="indigodown, indigo down, rock, rock music, guitar, executive rock, Jez Fielder, Paul Fielder, Martin Szomszor, Clive Murray">
		<link rel="shortcut icon" href="/public/images/favicon-ep.ico" type="image/x-icon">
		<link rel="icon" href="/public/images/favicon-ep.ico" type="image/x-icon">

		<link rel="stylesheet" type="text/css" href="/public/css/style2021.css">
	</head>

	<body class="{{ thisPage }}">
		<main>
			{{ content | safe }}

			{% include "footer.njk" %}
		</main>
	</body>

</html>
