<!DOCTYPE html>
<html lang="en" class="release">
	<head>
		<title>INDIGO DOWN &gt; STILL ALIVE</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="description" content="The online home of executive rock band Indigo Down">
		<meta name="keywords" content="indigodown, indigo down, still alive, still alive ep, rock, rock music, guitar, executive rock, Jez Fielder, Paul Fielder, Martin Szomszor, Clive Murray">
		<link rel="shortcut icon" href="/public/images/favicon-ep.ico" type="image/x-icon">
		<link rel="icon" href="/public/images/favicon-ep.ico" type="image/x-icon">

		<link rel="stylesheet" type="text/css" href="/public/css/style.css">
	</head>

	<body>

		{{ content | safe }}

	</body>
</html>
