---
layout: main.njk
thisPage: video
pageTitle: "Indigo Down :: Video"
---
{% include "nav.njk" %}

<section class="copy-panel">
	<h2>The Videos</h2>
	<h3>&ldquo;ALIVE&rdquo; – 2021</h3>
	<iframe class="yt-iframe" width="560" height="315" src="https://www.youtube.com/embed/UAFhv4xKi0c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<p>Presented here we have the Lockdown Rockdown video for <strong>&ldquo;ALIVE&rdquo;</strong>, as filmed by the band themselves during various stages of COVID-19 lockdown across 2020, and edited lovingly together by Clive (bless him).</p>
	<p>It was fun to make, and the likelihood of another one looks ever more... well... likely, as the days go by.</p>

	<hr>

	<h3>Older stuff</h3>
	<p>And why not? You may get a chuckle out of these. We certainly do.</p>
	<ul>
		<li><a href="https://www.youtube.com/watch?v=YWE4CkRxNHU" target="_blank">Indigo Down’s Christmas Message 2013</a></li>
		<li><a href="https://www.youtube.com/watch?v=1i2VjYecu6w" target="_blank">Waste of Time (clip, Live at the Purple Turtle), 2011</a></li>
		<li><a href="https://vimeo.com/18705276" target="_blank">Waste of Time (official video, from Gin Lane), 2011</a></li>
		<li><a href="https://www.youtube.com/watch?v=1espalnAN2E" target="_blank">Freedom (official video, from Gin Lane), 2005</a></li>
	</ul>

</section>
